body{
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
}
#Calculator{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    border: 2px solid teal;
    margin: 10% auto;
    text-align: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: block;
    margin: 10% 0 2% 0;
    color: grey;
}
#Ausgabe{
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 12%;
    background-color: rgb(235, 233, 233);
    color:rgb(2, 139, 252);
}
.Reihe1 button{
    background-color: rgb(47, 161, 255);
    margin-bottom: 5%;
    border-color: blue;
}
button{
    width: 63px;
    height: 2.3em;
    font-size: 1em;
    text-align: center;
    margin: 4px;    
    background-color: rgb(11, 204, 11);
    border-color: teal;
    border-radius: 2px;
    color: rgb(78, 78, 78)
}
#CC{
    background-color: rgb(252, 196, 92);
    display: flex;
    justify-content: center;
    margin: 5% 0 0 2%;
    border-color: orange;
}
#Equal{
    background-color: rgb(170, 248, 170);
}